.pmu-page {
  background: #fff;
  min-height: 100vh;
  font-family: Arial, sans-serif;
}

.pmu-topbar {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  background: #fff;
  padding: 10px 30px 10px 0;
  border-bottom: 10px solid #f0f0f0;
}

.pmu-nav-icons {
  display: flex;
  gap: 30px;
}

.pmu-nav-icon {
  font-size: 18px;
  color: #312c2c;
  cursor: pointer;
  opacity: 0.8;
}

.pmu-main {
  display: flex;
}

.pmu-sidebar {
  width: 180px;
  background: #fff;
  padding: 30px 0 0 30px;
}

.pmu-steps {
  display: flex;
  flex-direction: column;
  gap: 60px;
}

.pmu-step {
  display: flex;
  align-items: left;
  gap: 10px;
  
}

.pmu-step-circle {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background: #ccc;
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 14px;
  font-weight: bold;
}

.pmu-step.completed .pmu-step-circle {
  background: #1811e1;
}

.pmu-step.current .pmu-step-circle {
  background: #087bf7;
}

.pmu-step-name {
  font-size: 30px;
  color: #000;
}

.pmu-content {
  flex: 1;
  padding: 200px 0 0 1000px;
}

.pmu-title {
  font-size: 150px;
  font-weight: bold;
  margin-bottom: 50px;
}

.pmu-photo-section {
  margin-bottom: 40px;
}

.pmu-photo-grid {
  display: flex;
  gap: 100px;
  margin-bottom: 15px;
}

.pmu-photo-thumb {
  width: 500px;
  height: 500px;
  border: 1px solid #c8cfcf;
  border-radius: 6px;
  background: #aaa6a6;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}

.pmu-photo-thumb img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.pmu-photo-placeholder {
  color: #717070;
  font-size: 50px;
   font-weight: bold;
}

.pmu-photo-actions {
  display: flex;
  align-items: center;
  gap: 10px;
  margin-bottom: 100px;
}

.pmu-btn {
  background: #fff;
  color: #1811e1;
  border: none;
  padding: 30px 100px;
  border-radius: 10px;
border: 1px solid #1811e1;
  font-size: 50px;
  cursor: pointer;
  transition: backgroun 0.2s;
  position: relative;
}

.pmu-btn:hover {
  background: #1811e1;
}

.pmu-clear {
  background: #ffff;
  color:  #1811e1;
  border: 1px solid #1811e1;
}

.pmu-clear:hover {
  background:  #1811e1;
}

.pmu-selected {
  font-size: 50px;
  color: #000;
  margin-left: 10px;
}

.pmu-video-section {
  margin-bottom: 30px;
}

.pmu-video-preview {
  width: 1000px;
  height: 700px;
  border: 1px solid #c8cfcf;
  border-radius: 6px;
  background: #aaa6a6;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 10px;
  position: relative;
  overflow: cover;
}

.pmu-video-preview video {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.pmu-video-placeholder {
  color: #515050;
  font-size: 80px;
}

.pmu-video-actions {
  display: flex;
  gap: 100px;
  margin-bottom: 100px;
}

.pmu-upload {
  background: #1811e1;
  color: #fff;
  margin-top: 100px;
}

.pmu-upload:hover {
  background: #1811e1;
}